<%- include("partials/header") -%>
<div class="min-h-screen bg-zinc-800">
<div>
    <div>
        <a class="text-white font-medium" href="/login">Login</a>
    </div>
    <div>
        <a class="text-white font-medium" href="/signup">Sign up</a>
    </div>
</div>
</div>
<%- include("partials/footer") %>