<%- include("partials/header") -%>
<div class="body">
<div>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>    
    <% } %>
<div>
    <form action="/login" method="POST">
        <div>
        <div>
            <label for="email-address">Email address</label>
            <input id="email-address" name="email" type="email" autocomplete="email" required placeholder="Email address">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" autocomplete="current-password" required  placeholder="Password">
        </div>
        <div>
            <button type="submit">Sign in</button>
        </div>
        </div>
        </div>
    </form>
</div>
</div>
</div>
<%- include("partials/footer") %>