<%- include("partials/header") -%>
<div class="body">
<div>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>    
    <% } %>
<div>
    <form action="/signup" method="POST">
        <div>
        <div>
            <label for="userName">Username</label>
            <input id="userName" name="userName" type="userName" required placeholder="Username">
        </div>
        <div>
            <label for="email-address">Email address</label>
            <input id="email-address" name="email" type="email" required placeholder="Email address">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required placeholder="Password">
         </div>
        <div>
            <label for="Re-enter-password">Re-enter Password</label>
            <input id="confirmPassword" name="confirmPassword" type="password" required placeholder="Re-enter Password">
        </div>
        <div>
            <button type="submit">Create account</button>
        </div>
        </div>
    </form>
</div>
</div>
</div>
<%- include("partials/footer") %>